@Model CcsWeb.Models.AppEmailModel

<div>
    <h2>Your Mortgage Application was recieved </h2>

    <h4>@Model.FirstName @Model.LastName </h4>
    <p>
        What ever you want to Say here
    </p>


</div>