
@*@Html.Partial("_TopPic")*@


<div id="wrapper">

    <!-- PAGE TITLE -->
    <section class="page-title" style="background: url('/content/images/page-title.jpg') center top;">
        <!-- for no background image, remove: style="background:url('assets/images/page-title.jpg') center top;" -->
        <span class="raster hover"><!-- raster --></span>

        <div class="container">

            <!-- APPLY BUTTON -->
            <div class="button-apply">
                @Html.ActionLink("Apply Now", "App1", "Applications4", null, new { @class = "btn btn-lg btn-primary black" })
                 <br /><span class="learn_more">or @Html.ActionLink("Learn more", "LearnMore", "Home")</span>
            </div>

            <!-- PAGE TITLE -->
            <header>
                <h1>ABOUT US</h1>
                <p>A Consumer Driven Instant Multiple Loan Quote Engine</p>
            </header>

            <!-- BREADCRUMBS - PAGE LOCATOR -->
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ol>

        </div>
    </section>
    <!-- /PAGE TITLE -->
    <!-- Why Use CCS? -->
    <section>
        <div class="container">

            <header>
                <h2 class="styleColor">Why Use Consumer Credit Services?</h2>
            </header>

            <h3 class="subtitle">The Consumer Credit Services Commitment to Our Clients</h3>
            <article>
                <p>
                    To provide consumers a simplified mortgage lending experiences that offers all the advantages of shopping multiple mortgage lenders and loan products, while maintaining a single accountable contact from application to closing.
                </p>
                <p>
                    To only promote and offer mortgage home loan products that provide true tanigible financial benefits to the borrowers.
                </p>
                <p>
                    We have Closed over 5000 mortgage loans, while maintaining an A + Rating with the Better Business Bureau. We have never disappointed our clients.
                </p>
                <p>
                    Its simple service. We keep the goals, needs and concerns of each of our clients as the most important determinant of our short term and long term success.
                </p>
            </article>

        </div>
    </section>


    <!-- CCS vs LendingTree -->
    <section class="alternate">
        <div class="container">

            <header>
                <h2 class="styleColor">Why Use CCS Mortgage Loans vs Lending Tree?</h2>
            </header>

            <h3 class="subtitle">CCS versus Lending Tree</h3>
            <article>
                <p>
                    LendingTree does not issue Mortgage Home Loans. They take your information and sell it to multiple mortgage company's that will then consistently call you and email in attempt to take a Full Mortgage Application;.
                </p>

                <p>
                    Because LendingTree is not the Lender, the loan quotes they provide you with are only rough estimates that do not fully account for your home value, actual credit score, and verified income requirements.
                    Therefore, in order to truly shop multiple lenders for the best rate and or closing cost you must make full loan applications to multiple Mortgage Lenders.
                </p>
            </article>

            <h3 class="subtitle">CCS Solution</h3>
            <article>
                <p>
                    Unlike LendingTree, we actually lend through multiple mortgage lenders. This means that we take one application and shop all of our mortgage lenders for the best terms and present these options to you. From Application to closing we handle everything. You will not have multiple mortgage lenders harassing you.
                </p>
            </article>
        </div>
    </section>


    <!-- CCS vs Quicken Loans -->
    <section>
        <div class="container">

            <header>
                <h2 class="styleColor">Why Use CCS Mortgage Loans vs Quicken Loans?</h2>
            </header>

            <h3 class="subtitle">CCS versus Quicken Loans</h3>
            <article>
                <p>
                    Unlike LendingTree, who simply sells your information to multiple companyies,Quicken Loans, a single mortgage lender, can only offer you their interest rates and closing cost. By working with Quicken Loans, you loose your ability to shop for the best mortgage interest rates and closing costs.
                </p>
            </article>

            <h3 class="subtitle">CCS Solution</h3>
            <article>
                <p>
                    Since Quicken Loans does not provide you the ability to shop multiple mortgage lenders and LendingTree is not the actual lender and only sells your partially completed loan application to multiple companies that will each need to pull your credit and take a full loan aplication, we are happy to provide the CCS Solution for you.
                </p>

                <p>
                    One Company, One Application, Multiple Lenders competing with Wholesale Interest Rates. We will provide you with a Tailored Lender Comparison Summary that shows you the best loan and lender!
                </p>
            </article>

        </div>
    </section>


    <!-- Our History in Mortgage Lending -->
    <section class="alternate">
        <div class="container">

            <header>
                <h2 class="styleColor">Our History</h2>
            </header>

            <h3 class="subtitle">Since 1998, Seeking Real Solutions for Real Consumers</h3>
            <article>
                <p>
                    Consumer Credit Services was chartered in 1998, after the founder realized that the mortgage lending environment fell short of offering diligent long term lending solutions that incorporated a true plan that matched the clients goals.
                </p>

                <p>
                    In most cases, the representation and loan products offered, while providing short term benefits, failed to identify and match the clients long term goals. This oversight placed many homeowners in the absolute position to seek future financing.
                </p>

                <p>
                    From its inception to present, every client that Consumer Credit Services represents receives a full, essential interview such that we can identify all short term and long term objectives with your real estate holdings.
                </p>

                <p>
                    <strong>With over 15 years of mortgage lending experience, over 5000 happy clients and an A+ Rating with Better Business Bureau, we are proud to say, "Our reputations speaks for itself."</strong>
                </p>

                <p>
                    Sincerely, <br>
                    The Staff of CCS
                </p>
            </article>

        </div>
    </section>



    <!-- Licensing -->
    <section>
        <div class="container">

            <header>
                <h2 class="styleColor">Mortgage Licensing, Regulations &amp; Consumer Advocates</h2>
            </header>

            <article>
                <p>
                    <a href="https://real.flofr.com/consumerservices/searchlicensingrecords/SearchDetail.aspx?licNum=MBR1434&amp;licDesc=MBR" target="_blank">
                        <i class="fa fa-external-link"></i> Verify Mortgage License through State of Florida Office of Financial Regulations
                    </a><br>
                    Consumer Credit Services is licensed through the State of Florida Office of Financial Regulations MBR# 1434. We are current with all licenses and have completed all required annual filings and continuing education.
                </p>

                <p>
                    <a href="http://nmlsconsumeraccess.org/EntityDetails.aspx/COMPANY/1070755" target="_blank">
                        <i class="fa fa-external-link"></i> Verify National Mortgage Licensing System
                    </a><br>
                    Consumer Credit Services has an active National Mortgage Licensing System #1070755. We are current with all licenses and have completed all required quarterly and annual filings as required.
                </p>

                <p>
                    <a href="http://www.bbb.org/north-east-florida/business-reviews/mortgage-lender/consumer-credit-services-llc-in-jacksonville-fl-11753" target="_blank">
                        <i class="fa fa-external-link"></i> Verify our Better Business Bureau Standings
                    </a><br>
                    After 15 years of Business and over 5000 closed and funded loans, our clients rate us A+ as verified by the Better Buiness Bureau.
                </p>
            </article>

        </div>
    </section>


    <!-- Our Lenders -->
    <section class="alternate">
        <div class="container">

            <header>
                <h2 class="styleColor">Our Mortgage Lenders &amp; Financial Institutions</h2>
            </header>

            <h3 class="subtitle">The National Mortgage Lenders We Represent</h3>
            <article>
                <p>
                    Consumer Credit Services has an active National Mortgage Licensing System #1070755. We are current with all licenses and have completed all required quarterly and annual filings as required.
                </p>

                <p>
                    After 15 years of Business and over 5000 closed and funded loans, our clients rate us A+ as verified by the Better Buiness Bureau.
                </p>
            </article>

        </div>
    </section>

</div>