
@{
    ViewBag.Title = "Adjustable Mortgage";
}

<div id="wrapper">

    <!-- PAGE TITLE -->
    <section class="page-title" style="background:url('/Content/images/page-title.jpg') center top;">
        <!-- for no background image, remove: style="background:url('assets/images/page-title.jpg') center top;" -->
        <span class="raster hover"><!-- raster --></span>

        <div class="container">

            <!-- APPLY BUTTON -->
            <div class="button-apply">
                @Html.ActionLink("Apply Now", "App1", "Applications4", null, new { @class = "btn btn-lg btn-primary black" })
                <br /> <span class="learn_more">or @Html.ActionLink("Learn more", "LearnMore", "Home")</span>
            </div>

            <!-- PAGE TITLE -->
            <header>
                <h1>ADJUSTABLE RATES MORTGAGE LOANS</h1>
                <p>A Consumer Driven Instant Multiple Loan Quote Engine</p>
            </header>

            <!-- BREADCRUMBS - PAGE LOCATOR -->
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Loan Programs</li>
                <li>Adjustable Rates Mortgage Loans</li>
            </ol>

        </div>
    </section>
    <!-- /PAGE TITLE -->
    <!-- Adjustable Rates Mortgage Loans -->
    <section>
        <div class="container">

            <header>
                <h2 class="styleColor">Adjustable Rate Mortgage Home Loans</h2>
            </header>

            <h3 class="subtitle">What Are Adjustable Rate Mortgage Home Loans?</h3>
            <article>
                <p>
                    Under the Dodd Frank Legislation, our congressional leaders have defined non qualified mortgage loans as, in general, mortgage loans that fall outside the standard underwriting guidelines of Fannie Mae and Freddie Mac which are the government sponsored enterpises that produce low risk underwriting guidelines.
                </p>
                <p>
                    Simply said, non qualified mortgage loans are for borrowers that have blemished credit due to 30, 60, or 90 days late on credit lines and or excessive collections, repossessions and charge offs. As of January 2014 Mortgage Lenders will start introducing loan products for these borrowers.
                </p>
            </article>

            <h3 class="subtitle">When would I want to use this Loan Product?</h3>
            <article>
                <p>
                    If you do not meet the lending requirements of FHA/VA or conventional/conforming mortgage home loans, and you have consistent earnings than you should build your loan and let our system analyze any and all available loan products that you could qualify for.
                </p>
                <p>
                    Due to the expanding financial market other loan programs may be available that may provided better lending terms.
                </p>
                <p>
                    By completing our brief online Real Time Loan Quote we will calculate your monthly payments with all products and provide you with real numbers so you can make an educated decision.
                </p>
            </article>
        </div>
    </section>


</div>

