
@{
    ViewBag.Title = "DebtConsolidation";
}

<div id="wrapper">

    <!-- PAGE TITLE -->
    <section class="page-title" style="background: url('/content/images/page-title.jpg') center top;">
        <!-- for no background image, remove: style="background:url('assets/images/page-title.jpg') center top;" -->
        <span class="raster hover"><!-- raster --></span>

        <div class="container">

            <!-- APPLY BUTTON -->
            <div class="button-apply">
                @Html.ActionLink("Apply Now", "App1", "Applications4", null, new { @class = "btn btn-lg btn-primary black" })
                <br /> <span class="learn_more">or @Html.ActionLink("Learn more", "LearnMore", "Home")</span>
            </div>

            <!-- PAGE TITLE -->
            <header>
                <h1>DEBT CONSOLIDATION MORTGAGE OPTIONS</h1>
                <p>A Consumer Driven Instant Multiple Loan Quote Engine</p>
            </header>

            <!-- BREADCRUMBS - PAGE LOCATOR -->
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Loan Types</li>
                <li>Debt Consolidation Mortgage Options</li>
            </ol>

        </div>
    </section>
    <!-- /PAGE TITLE -->
    <!-- Debt Consolidation Mortgage Options -->
    <section>
        <div class="container">

            <header>
                <h2 class="styleColor">Debt Consolidation Mortgage Options</h2>
            </header>

            <h3 class="subtitle">The Consumer Credit Services Commitment to Our Clients</h3>
            <article>
                <p>
                    After calling my Bank VyStar Credit Union, and trying Lending Tree, which had my phones ringing nonstop with all kinds of lenders harass us, we were so thankful to find Consumer Credit Services. We were able to shop multiple mortgage companys, finding the best rates and closing cost and only had to deal with one company. Now I see why they have an A+ Better Business Rating. I would highly recommend to anybody.
                    <cite class="text-right">J. Dillard, Jacksonville, FL</cite>
                </p>
                <p>
                    How easy to find the best deal for our family. Their realtime loan quote system is the real deal, literally. We shopped our loan with multiple lenders providing real quotes and closed our loan within 3 weeks. We tried other companies but really trust and found the best deal with CCS. The best!!
                    <cite class="text-right">Kenneth Muth, Daytona Beach, FL</cite>
                </p>
            </article>

            <article>
                <div class="alert alert-success">
                    <p>
                        With over 5000 happy clients that were able to find the best deal for them, at your we will provide you with many more references.
                    </p>
                </div>
            </article>

        </div>
    </section>


</div>

