
@{
    ViewBag.Title = "testimonials";
}

<h2>testimonials</h2>
<div id="wrapper">

    <!-- PAGE TITLE -->
    <section class="page-title" style="background:url('/Content/images/page-title.jpg') center top;">
        <!-- for no background image, remove: style="background:url('assets/images/page-title.jpg') center top;" -->
        <span class="raster hover"><!-- raster --></span>

        <div class="container">

            <!-- APPLY BUTTON -->
            <div class="button-apply">
                @Html.ActionLink("Apply Now", "App1", "Applications4", null, new { @class = "btn btn-lg btn-primary black" })
                <br /> <span class="learn_more">or @Html.ActionLink("Learn more", "LearnMore", "Home")</span>
            </div>

            <!-- PAGE TITLE -->
            <header>
                <h1>TESTIMONIALS</h1>
                <p>A Consumer Driven Instant Multiple Loan Quote Engine</p>
            </header>

            <!-- BREADCRUMBS - PAGE LOCATOR -->
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Home</li>
                <li>Testimonials</li>
            </ol>

        </div>
    </section>
    <!-- /PAGE TITLE -->
    <!-- Why Use CCS? -->
    <section>
        <div class="container">

            <header>
                <h2 class="styleColor">Every Client Matters</h2>
            </header>

            <h3 class="subtitle">Consumer Credit Services Commitment to Our Clients</h3>
            <article>
                <p>
                    After calling my Bank VyStar Credit Union, and trying Lending Tree, which had my phones ringing nonstop with all kinds of lenders harass us, we were so thankful to find Consumer Credit Services. We were able to shop multiple mortgage companys, finding the best rates and closing cost and only had to deal with one company. Now I see why they have an A+ Better Business Rating. I would highly recommend to anybody.
                    <cite class="text-right">J. Dillard, Jacksonville, FL</cite>
                </p>
                <p>
                    How easy to find the best deal for our family. Their realtime loan quote system is the real deal, literally. We shopped our loan with multiple lenders providing real quotes and closed our loan within 3 weeks. We tried other companies but really trust and found the best deal with CCS. The best!!
                    <cite class="text-right">Kenneth Muth, Daytona Beach, FL</cite>
                </p>


                <p>
                    They lowered my mortgage payments from $1,160 to $731.00 and are saving me a total of $124,120.00 in interest. I am very impressed with the savings and their professionalism.  Two Thumbs Up!! 
                    <cite class="text-right">M. Sauer,     Orlando FL</cite>
                </p>


                <p>
                    I shopped multiple lenders. I then tried Lending Tree which I found after the fact is not a lender and sold my information to several lenders who would not stop calling and emailing us...ughh. CCShomeloans.com was able to get me the best terms and it was simply pleasant.
                    <cite class="text-right"> M. Wilhelm,     Jacksonville FL</cite>
                </p>


                <p>
                    Fast, easy and professional. I have been recommending them to any one looking to purchase or refinance a home.  
                    <cite class="text-right">C. Allbritton,   Orange Park FL</cite>
                </p>


                <p>
                    I was just not sure if I wanted to refinance or attempt to short sell my home. CCS Home Loans helped me create a financial strategy that made sense. They researched trending property values and I was encouraged to hold the property. I lowered my monthly payment by 30% and have home value is on the rise as we anticipated. 
                    <cite class="text-right">R. Bremer,       Saint Johns FL</cite>
                </p>


                <p>
                    I refinanced my home with CCS. Of course we get non stop solicitations but CCS was the one company that offered straight advice and the best terms. Reliable and Trustworthy.
                    <cite class="text-right">W. Buell,    Orlando FL</cite>
                </p>

                <p>
                    No other Bank or Lender could touch their interest rates. See for yourself. They lowered my payment by $ 651.07. They cut $220,594.00 in interest. They will give you a complete True Cost Benefit Analysis. Finally a company that treats our homes as they should….an investment.
                    <cite class="text-right">G. Isreal,    Jacksonville FL</cite>
                </p>

                <p>
                    As a single Mom working, I just did not have the time to shop for the best loan. When they explained they work with multiple lenders but actually close my loan from start to finish I was in. I got an interest rate of 3.375% on 30 years fixed saving me $400.00 a month!  Not to mentions easy to work with. 
                    <cite class="text-right">H. Jackson,  Middleburg FL</cite>
                </p>

                <p>
                    I compared 3 different loan offers. None of the other offers could come close to CCS loan offer. They are very professional and considerate with straight answers and advice. I saved $358.00 a month with a 30 year fixed rate of 3.375%.
                    <cite class="text-right">A.	Mago,  Tampa FL</cite>
                </p>

                <p>
                    I am a mechanical engineer and I know numbers. I worked with Jim at CCS and provided me with a True Cost analysis that is accurate. He was able to provide all of the lenders rates at a discount. I saved $96,000 in interest and lowered my monthly payment by $ 278.00 almost 35% decrease in payment. 
                    <cite class="text-right">K. Tharamapaian,  Longwood   FL</cite>
                </p>

                <p>
                    I was working with another Bank and torwards the end I received an offer from CCS Home Loans which the Bank said could not be a real offer. Needless to say, CCS closed my loan and lowered my payment by $ 768.00. Yes I am a believer and a stock broker. 
                    <cite class="text-right">T. Allgood,     Jacksonville Beach FL</cite>
                </p>

                <p>
                    In 3weeks I went from having a $1,730 payment to a $1,217.00 payment and clipped $ 42,819.00 in interest off of my loan. They are top shelf and know their business.
                    <cite class="text-right">G. Marini,    Sanford,  FL</cite>
                </p>

                <p>
                    I am probably their biggest fan and will always send my friends and family to them to get the best service and terms. I saved almost 40% in my monthly payment saving me $450 something dollars a month. They kept my needs first!
                    <cite class="text-right">A Compton,   Keystone Heights</cite>
                </p>









            </article>

            <article>
                <div class="alert alert-success">
                    <p>
                        With over 5000 happy clients that were able to find the best deal for them, at your request we will provide you with many more references.
                    </p>
                </div>
            </article>

        </div>
    </section>


</div>
