@model Enum
<div class="col-sm-6">
    @if (EnumHelper.IsValidForEnumHelper(ViewData.ModelMetadata))
    {
        @Html.EnumDropDownListFor(model => model, "Select", htmlAttributes: new { @class = "form-control input-lg" })
    }
    else
    {
        @Html.TextBoxFor(model => model, htmlAttributes: new { @class = "form-control TextColor" })
    }
</div>