
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<h2>Upload</h2>










<div style="background-color: cadetblue !important" class="alert alert-warning" role="alert">
    @*<button type="button" class="btn btn-default"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
    <strong>ALL:</strong> Apload All your document as one file
    <a class="btn btn-lg btn-primary black pull-right" href="/Applications4/App1">Apply Now</a>
    
</div>

<div style="background-color: cadetblue !important" class="alert alert-warning" role="alert">
    @*<button type="button" class="btn btn-default"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
    <strong>W2L:</strong> Upload your W2s for the last 2 years
    <a class="btn btn-lg btn-primary black pull-right" href="/Applications4/App1">Apply Now</a>
</div>