@{
    ViewBag.Title = "RifiOption2";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}


<div class="row pricetable-container">

    <div class="col-md-4 price-table">
        <h3>4.075<span> %apr</span></h3>
        <p>
            $1208.49
            <span>PER MONTH</span>
        </p>

        <ul>
            <li>Loan Type:  Fannie HARP 30YR</li>
            <li>Term: 30</li>
            <li>Payment: $ 1172.51901678961</li>
            <li>Amount: $ 249346.352514146</li>
            <li>Payment Savings: $ 739.48098321039</li>
            <li>Interest Saved: 200588</li>
            <li>Months To Break Even: 10.467727089416568</li>
        </ul>
        <a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
    </div>

    <div class="col-md-4 price-table popular">
        <h3>Fannie HARP 30YR</h3>
        <p>
            <strong>
                $1172.51
            </strong>
            <span>PER MONTH</span>
        </p>
        <ul>
            <li>3.821 apr</li>
            <li>Payment Savings: $ 739.48</li>
            <li>Term: 30</li>
            <li>Payment: $ 1172.51901678961</li>
            <li>Amount: $ 249346.352514146</li>
            <li>Interest Saved: 200588</li>
            <li>Months To Break Even: 10.467727089416568</li>
        </ul>
        <a href="#" class="btn btn-success btn-sm">SIGN UP</a>
    </div>

    <div class="col-md-4 price-table">
        <h3>$ 1208.49 /mo</h3>
        <p>
            4.175
            <span>apr</span>
        </p>
        <ul class="pricetable-items">
            <li>Loan Type:  Fannie HARP 30YR</li>
            <li>Term: 30</li>
            <li>Payment: $ 1172.51901678961</li>
            <li>Amount: $ 249346.352514146</li>
            <li>Payment Savings: $ 739.48098321039</li>
            <li>Interest Saved: 200588</li>
            <li>Months To Break Even: 10.467727089416568</li>
        </ul>
        <a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
    </div>

</div>